<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><%= title %></title>
<h1><%= title %></h1>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
<script src=""></script>
<body class="loginView">

<!-- flash messages that display when the user puts in correct credentials -->
<%- messages() %>
<% if (messages.success_msg) { %>
    <div class="alert alert-success">
        <%= messages.success_message %>
    </div>
<% } %>
<!-- flash message for incorrect credentials -->
<% if (messages.error_msg) { %>
    <div class="alert alert-danger">
        <%= messages.error_message %>
    </div>
<% } %>

<!-- HTML form that recieves account information -->
<form class="container" id="loginForm" action="/account/login" method="post">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
  
  <!-- Button to sign up and link to register -->
  <div class="signUpLink">
    <button type="submit">Login</button>
    <br>
    <a href="register">No account? <u>Sign up</u></a>
  </div>
</form>
  
</body>
</html>