<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><%= title %></title>
<h1><%= title %></h1>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
<script src=""></script>

<body class="registerView">

  <!-- flash messages that display when the user puts in correct credentials -->
  <% if (messages.success_msg) { %>
  <div class="alert alert-success">
    <%= messages.success_message %>
  </div>
  <% } %>
  <!-- flash message for incorrect credentials -->
  <% if (messages.error_msg) { %>
  <div class="alert alert-danger">
    <%= messages.error_message %>
  </div>
  <% } %>

  <!-- EJS code block to display errors -->
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
  </ul>
  <% } %>

  <!-- HTML form that recieves account information -->
  <form class="container" action="/account/register" method="post">
    <label for="account_firstname"><b>First Name</b></label>
    <input 
    type="text" 
    name="account_firstname" 
    id="accountFirstname" 
    required 
    placeholder="First"
    value="<%= locals.account_firstname %>">

    <label for="account_lastname"><b>Last Name</b></label>
    <input 
    type="text" 
    name="account_lastname" 
    id="accountLastname"
    required 
    placeholder="Last"
    value="<%= locals.account_lastname %>">


    <label for="account_email"><b>Email</b></label>
    <input 
    type="email" 
    name="account_email" 
    id="accountEmail"
    required 
    placeholder="Enter a valid email"
    value="<%= locals.account_email %>">

    <label for="account_password"><b>Password</b></label>
    <input 
    type="password" 
    name="account_password" 
    required 
    placeholder="Create a password"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>

    <!-- Button to submit registeration -->
    <div class="registerLink">
      <button type="submit">Register</button>
    </div>
  </form>
</body>

</html>