<title><%= title %></title>
<h1><%- title %></h1>
<link rel="stylesheet" href="/css/styles.css">

<body class="updateAccountView">
    <main class="updateAccount">
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
              <% errors.array().forEach(error => { %>
              <li><%= error.msg %></li>
              <%  }) %>
            </ul>
            <% } %>

        <!-- Form for updating account information -->
        <form id= "updateForm" action="/account/update" method="POST">
           
            <label for="account_firstname">First Name</label>
            <input 
            type="text" 
            name="account_firstname" 
            required 
            value="<%= locals.account_firstname %>"
            >
            <br>

            <label for="account_lastname">Last Name</label>
            <input 
            type="text"
            name="account_lastname"
            required
            value="<%= locals.account_lastname || '' %>"
            >
            <br>

            <label for="account_email">Email</label>
            <input 
            type="text"
            name="account_email"
            required
            placeholder=""
            value="<%= locals.account_email || '' %>"
            >
            <br>

            <button disabled type="submit">Update Account</button>
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
        </form>

        <!-- Form for updating password -->
        <form id= "updatePassword" action="/account/update/password" method="POST">
           
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>

            <label for="account_password">New Password</label>
            <input 
            type="password"
            name="account_password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <br>

            <button type="submit">Update Account</button>
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
        </form>
    </main>
    <script src="/js/inv-update.js"></script>
</body>

