<title><%= title %></title>
<h1><%- title %></h1>
<link rel="stylesheet" href="/css/styles.css">

<body class="updateView">
    <main class="aInventory">
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
              <% errors.array().forEach(error => { %>
              <li><%= error.msg %></li>
              <%  }) %>
            </ul>
            <% } %>

        <!-- Form for adding new classification -->
        <form id= "updateForm" action="/inv/update" method="POST">
            <label for="inventoryClass"><b>Choose a classification</b></label>
            <%- classificationList %>


            <label for="inv_make">Make</label>
            <input 
            type="text" 
            name="inv_make" 
            required 
            placeholder="Min of 3 characters"
            value="<%= locals.inv_make %>"
            >
            <br>

            <label for="inventoryModel">Model</label>
            <input 
            type="text"
            name="inventoryModel"
            required
            placeholder="Min of 3 characters"
            value="<%= locals.inv_model || '' %>"
            >
            <br>

            <label for="inventoryImg">Image Path</label>
            <input 
            type="text"
            name="inventoryImg"
            required
            placeholder=""
            value="<%= locals.inv_image || '' %>"
            >
            <br>


            <label for="inventoryThum">Thumbnail Path</label>
            <input 
            type="text"
            name="inventoryThum"
            required
            placeholder=""
            value="<%= locals.inv_thumbnail || '' %>"
            >
            <br>


            <label for="inventoryPrice">Price</label>
            <input 
            type="text"
            pattern="^\d+([.]\d+)?$"
            name="inventoryPrice"
            required
            placeholder="decimal or integer"
            value="<%= locals.inv_price || '' %>"
            >
            <br>    

            <label for="inventoryYear">Year</label>
            <input 
            type="text"
            pattern="[0-9]{4"
            name="inventoryYear"
            required
            placeholder="4 digit year"
            value="<%= locals.inv_year || '' %>"
            >
            <br>

            <label for="inventoryMiles">Miles</label>
            <input 
            type="text"
            pattern="[0-9]*"
            name="inventoryMiles"
            required
            placeholder="digits only"
            value="<%= locals.inv_miles %>"
            >
            <br>

            <label for="inventoryColor">Color</label>
            <input type="text"
            name="inventoryColor"
            required
            placeholder=""
            value="<%= locals.inv_color %>"
            >

            <button disabled type="submit">Update Vehicle</button>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </form>
    </main>

    <script src="/js/inv-update.js"></script>
</body>

