<title><%= title %></title>
<h1><%- title %></h1>
<link rel="stylesheet" href="/css/styles.css">

<body class="addInventoryView">
    <main class="addInventory">
        <%- messages() %>
        <% if (errors) { %>
            <ul class="notice">
              <% errors.array().forEach(error => { %>
              <li><%= error.msg %></li>
              <%  }) %>
            </ul>
            <% } %>

        <!-- Form for adding new classification -->
        <form id= "updateForm" action="/inv/delete/:inv_id" method="POST">

            <label for="inv_make">Make</label>
            <input 
            type="text" 
            name="inv_make" 
            required 
            readonly
            placeholder="Min of 3 characters"
            value="<%= locals.inv_make %>"
            >
            <br>

            <label for="inventoryModel">Model</label>
            <input 
            type="text"
            name="inventoryModel"
            required
            readonly
            placeholder="Min of 3 characters"
            value="<%= locals.inv_model || '' %>"
            >
            <br>

            <label for="inventoryPrice">Price</label>
            <input 
            type="text"
            pattern="^\d+([.]\d+)?$"
            name="inventoryPrice"
            required
            readonly
            placeholder="decimal or integer"
            value="<%= locals.inv_price || '' %>"
            >
            <br>    

            <label for="inventoryYear">Year</label>
            <input 
            type="text"
            pattern="[0-9]{4"
            name="inventoryYear"
            required
            readonly
            placeholder="4 digit year"
            value="<%= locals.inv_year || '' %>"
            >
            <br>

            <p>Confirm Deletion - The delete is permanent.</p>
            <button type="submit">Delete Vehicle</button>
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
        </form>
    </main>
</body>

